body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 1rem);
  background: url('./assets/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Koulen', cursive;
}

.container {
  max-width: 62rem;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 0.3rem solid #068d9e;
  border-radius: 0.4rem;
  overflow-x: hidden;
  background-color: #fff;
}
.slider__wrapper {
  transition: all 0.5s ease-in-out;
  display: flex;
  padding: 1rem 0;
}

.slide {
  margin: 0;
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  object-fit: contain;
  height: 30rem;
}
#slide1:checked ~ .btns > #btn1 > .btn,
#slide2:checked ~ .btns > #btn2 > .btn,
#slide3:checked ~ .btns > #btn3 > .btn,
#slide4:checked ~ .btns > #btn4 > .btn {
  background-color: transparent;
  border: 0.2rem solid #068d9e;
}

#slide1:checked ~ .btns > #btn1:hover > .btn,
#slide2:checked ~ .btns > #btn2:hover > .btn,
#slide3:checked ~ .btns > #btn3:hover > .btn,
#slide4:checked ~ .btns > #btn4:hover > .btn {
  background-color: transparent;
  border: 0.2rem solid rgb(19, 0, 128);
}

#slide1:checked ~ .slider__wrapper {
  transform: translateX(0);
}

#slide2:checked ~ .slider__wrapper {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider__wrapper {
  transform: translateX(-200%);
}

#slide4:checked ~ .slider__wrapper {
  transform: translateX(-300%);
}

#slide1:checked ~ .slider__wrapper > :nth-child(1) .slide__text,
#slide2:checked ~ .slider__wrapper > :nth-child(2) .slide__text,
#slide3:checked ~ .slider__wrapper > :nth-child(3) .slide__text,
#slide4:checked ~ .slider__wrapper > :nth-child(4) .slide__text {
  display: inline-block;
}
.btns {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  background: aliceblue;
  width: 100%;
}
.btn {
  width: 1rem;
  height: 1rem;
  background-color: #068d9e;
  pointer-events: fill;
  border-color: #068d9e;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
}
input[type='radio'] {
  display: none;
}

label {
  padding: 0.5rem;
  cursor: pointer;
}

label:hover > .btn {
  background-color: rgb(19, 0, 128);
}
/* @media (max-width: 768px) {
  #slide1:checked ~ .slider__wrapper {
    transform: translateX(0);
  }

  #slide2:checked ~ .slider__wrapper {
    transform: translateX(-99.5%);
  }

  #slide3:checked ~ .slider__wrapper {
    transform: translateX(-199%);
  }

  #slide4:checked ~ .slider__wrapper {
    transform: translateX(-298.9%);
  }
} */
